[submodule "thirdparty/SongFormer"]
	path = thirdparty/SongFormer
	url = https://github.com/ASLP-lab/SongFormer
[submodule "thirdparty/music_Source_Separation_Training"]
	path = thirdparty/music_Source_Separation_Training
	url = https://github.com/ZFTurbo/Music-Source-Separation-Training
